doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/shop.css")
    body
        header
            nav
                ul.list
                    li.item
                        a(href="/shop") Shop
                    li.item
                        a(href="/admin/add-product") Add product  
        main
            .grid 
                each product in products
                    article.card.product-item
                        header.product-header
                            h1.product-title #{product.title}
                        div.card__img
                            img(src="/img/doge.jpg", alt="a book")
                        div.card__content 
                            h2.product__price $19.99
                            p.product_description A very nice book.....
                        .card_actions 
                            button.btn Add to Card