* {
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    background-color: yellow;
    color: red;
    list-style: none;
}

.item {
    padding: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 1em;
}

.btn {
    padding: .4em;
}